@use "../variables" as *;
@use "../media" as *;

.card {
  position: relative;

  &__info {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 20%;
    left: -16%;

    @include laptop {
      left: -5%;
    }

    @include mobile {
      bottom: 10%;
      left: 0;
    }
  }

  &__wrap {
    display: flex;
  }

  &__name {
    background-color: $dark-text;
    padding: 12px 0;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    color: $white;
  }

  &__profession {
    background-color: $light;
    padding: 12px 0;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: $dark-text;
  }
}