@use "../variables" as *;
@use "../media" as *;

.footer {
  padding: 40px 0 80px;
  background-color: $dark-background;

  &__list {
    display: flex;
    gap: 15px 43px;
    justify-content: center;
    margin-bottom: 22px;

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item,
  &__copyright {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: $footer-text;
  }
}