@use "../variables" as *;
@use "../media" as *;

.modal {
  padding: 64px;
  border-radius: 8px;
  background-color: $light-background;

  @include laptop {
    padding: 40px;
  }

  @include tablet {
    padding: 15px 20px;
  }
}

.container--modal {
  padding: 0;
  align-self: flex-start;
  margin: auto;
}

.modal__title {
  padding-right: 45px;
}

.modal__item-subtitle:not(:last-child) {
  margin-bottom: 40px;
}

.modal__subtitle {
  display: inline-block;
  margin-bottom: 15px;
}

.modal__item-subtitle::before {
  font-weight: bold;
}

.modal__list {
  padding-left: 20px;
}

.modal__item:not(:last-child) {
  margin-bottom: 15px;
}