@use "../variables" as *;

.order {
  position: relative;
  background-color: $dark-background;
  background-image: url('../img/bg-order_top.png'),
    url('../img/bg-order_bottom.png'),
    url('../img/phone.png');
  background-repeat: no-repeat;
  background-position: top, bottom, top 330px left,;
  background-size: contain, contain, auto;

  &__content {
    padding: 439px 20px 459px 700px;
  }

  &__supertitle {
    margin-bottom: 34px;
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: $white;
  }

  &__text {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.43;
    letter-spacing: -0.01em;
    color: $white;
  }

  &__btn {
    border-radius: 8px;
    padding: 30px 50px;
    background-color: $button;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.52;
    text-align: center;
    color: $dark-text;
  }
}