@use "../variables" as *;
@use "../media" as *;

.reviews {
  position: relative;
  padding: 306px 0 308px;
  background-color: $dark-background;
  background-image: url('../img/bg-reviews_top.png'),
  url('../img/bg-reviews_bottom.png');
  background-repeat: no-repeat;
  background-size: contain, contain;
  background-position: top, bottom;

  @include tablet {
    padding: 250px 0 250px;
  }

  @include mobile {
    padding: 150px 0 150px;
  }

  &__item--previous .review,
  &__item--next .review {
    position: absolute;
    top: 450px;
    width: 1180px;
    opacity: 0.1;
  }

  &__item--previous .review {
    transform: scale(0.9) translateX(-110%);
  }

  &__item--next .review {
    transform: scale(0.9) translateX(110%);
  }

  &__title {
    margin-bottom: 80px;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: $white;

    @include tablet {
      font-size: 42px;
      margin-bottom: 50px;
    }

    @include mobile {
      font-size: 28px;
    }
  }

  &__card {
    margin-bottom: 70px;
  }

  &__control {
    text-align: center;
  }

  &__btn {
    padding-left: 10px;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: $button;
  }

  &__btn--left {
    margin-right: 23px;
    padding-left: 20px;
  }

  &__btn--right {
    padding-left: 25px;
  }
}