@use "../variables" as *;
@use "../media" as *;

.review {
  display: flex;
  justify-content: space-between;
  gap: 54px;
  background-color: $light-background;
  background-image: url('../img/icons/quote.svg');
  background-repeat: no-repeat;
  background-position: top 70px left 143px;
  box-shadow: 2px 8px 16px 0 rgba(194, 198, 208, 0.06);
  border: 2px solid #e2eaf2;
  border-radius: 5px;
  padding: 70px 143px 73px;

  @include tablet {
    flex-direction: column;
    align-items: center;
    padding: 28px 48px;  
    background-position: top 44px left 50px;
  }

  @include mobile {
    padding: 10px 15px;  
    background-position: top 29px left 15px;
  }

  &__quote {
    width: max-content;

    @include tablet {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 24px;
    padding-top: 60px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.43;
    letter-spacing: 0.01em;
    color: $dark-text;

    @include mobile {
      font-size: 22px;
    }
  }

  &__text {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: $dark-text;

    @include mobile {
      font-size: 14px;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #4a94ff;
  }

  &__author {
    min-width: 380px;

    @include laptop {
      min-width: 250px;
      height: auto;
    }
  }

  &__img {
    margin-bottom: 26px;
    background-color: $light;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    border: 1px solid #f2f6fa;

    @include laptop {
      width: 250px;
      height: 250px;
    }
  }

  &__name {
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 21px;
    line-height: 1.43;
    text-align: center;
    color: $dark-text;
  }

  &__city {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    text-align: center;
    color: #a6aeb6;
  }
}